<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="au.edu.unsw.infs3634.unswgamifiedlearningapp">

    <application
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/Theme.UNSWGamifiedLearningApp"
        android:usesCleartextTraffic="true">
        <activity
            android:name=".ViewNotesDetailActivity"
            android:exported="true" />
        <activity
            android:name=".EditNotesDetailActivity"
            android:exported="true" />
        <activity
            android:name=".CreateMissionNotesActivity"
            android:exported="true" />
        <activity
            android:name=".QuizJourneyEndActivity"
            android:exported="true" />
        <activity
            android:name=".LessonVideoActivity"
            android:exported="true" />
        <activity
            android:name=".QuizQuestionActivity"
            android:exported="true" />
        <activity
            android:name=".LessonPlanetDataActivity"
            android:exported="true" />
        <activity
            android:name=".LessonWikiActivity"
            android:exported="true" />
        <activity
            android:name=".DetailActivity"
            android:exported="true" />
        <activity
            android:name=".AuthenticationActivity"
            android:exported="true" />
        <activity
            android:name=".LessonWelcomeActivity"
            android:exported="true" />
        <activity
            android:name=".Tutorial"
            android:exported="true" />
        <activity
            android:name=".InitialWelcome"
            android:exported="true" />
        <activity
            android:name=".MainActivity"
            android:exported="true">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>

        <meta-data
            android:name="preloaded_fonts"
            android:resource="@array/preloaded_fonts" />
    </application>

</manifest>